In [542]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import linear_model
import statsmodels.api as sm
from statsmodels.genmod.generalized_estimating_equations import GEE , GLM
from statsmodels.genmod.cov_struct import Independence
from statsmodels.genmod.families import Poisson

In [543]:
!pip install pyreadstat

Requirement already satisfied: pyreadstat in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (1.2.7)
Requirement already satisfied: pandas>=1.2.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pyreadstat) (1.2.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/tolga/Library/Python/3.8/lib/python/site-packages (from pandas>=1.2.0->pyreadstat) (2.9.0.post0)
Requirement already satisfied: pytz>=2017.3 in /Users/tolga/Library/Python/3.8/lib/python/site-packages (from pandas>=1.2.0->pyreadstat) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pandas>=1.2.0->pyreadstat) (1.20.2)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas>=1.2.0->pyreadstat) (1.16.0)

In [544]:
df = pd.read_csv("Team Assignment 1 Data.csv", sep=";")

In [545]:
df.shape

(600, 23)

In [546]:
df.describe(include='all')

,Review_ID,Number_Words_Review,ZNumber_Words_Review,Prod_Desig,Prod_Design_positive,Prod_Design_negative,Prod_Technical,Prod_Technical_positive,Prod_Technical_negative,Prod_Price,...,Serv_Delivery_positive,Serv_Delivery_negative,Category,Country,Gender,Age,Sentiment,Rating_Score,Purchase,Number_of_Purchases
count,600.000000,600.000000,600,600.000000,600.000000,600.000000,600.000000,600.000000,600.00000,600.000000,...,600.000000,600.000000,600.000000,600.000000,600.000000,600,600.000000,600.000000,600.000000,600.000000
unique,NaN,NaN,126,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,600,NaN,NaN,NaN,NaN
top,NaN,NaN,"-0,601536598",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"54,52101351",NaN,NaN,NaN,NaN
freq,NaN,NaN,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN
mean,300.500000,41.615000,NaN,0.655000,0.483333,0.311667,0.855000,0.720000,0.27000,0.256667,...,0.040000,0.020000,1.000000,0.500000,0.436667,NaN,3.691667,4.190000,0.093333,0.410000
std,173.349358,42.582613,NaN,0.475765,0.500139,0.463561,0.352395,0.449374,0.44433,0.437158,...,0.196123,0.140117,0.817178,0.500417,0.496386,NaN,1.248678,1.239541,0.291142,0.626542
min,1.000000,2.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,1.000000,1.000000,0.000000,0.000000
25%,150.750000,16.000000,NaN,0.000000,0.000000,0.000000,1.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,3.000000,4.000000,0.000000,0.000000
50%,300.500000,28.000000,NaN,1.000000,0.000000,0.000000,1.000000,1.000000,0.00000,0.000000,...,0.000000,0.000000,1.000000,0.500000,0.000000,NaN,4.000000,5.000000,0.000000,0.000000
75%,450.250000,55.000000,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,...,0.000000,0.000000,2.000000,1.000000,1.000000,NaN,5.000000,5.000000,0.000000,1.000000
max,600.000000,457.000000,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,...,1.000000,1.000000,2.000000,1.000000,1.000000,NaN,5.000000,5.000000,1.000000,3.000000

In [547]:
df.head(10)

,Review_ID,Number_Words_Review,ZNumber_Words_Review,Prod_Desig,Prod_Design_positive,Prod_Design_negative,Prod_Technical,Prod_Technical_positive,Prod_Technical_negative,Prod_Price,...,Serv_Delivery_positive,Serv_Delivery_negative,Category,Country,Gender,Age,Sentiment,Rating_Score,Purchase,Number_of_Purchases
0,1,34,"-0,178828858",1,1,0,1,1,0,0,...,0,0,0,1,0,"24,56327497",4,5,1,1
1,2,32,"-0,225796385",1,1,0,1,1,0,1,...,0,0,0,1,0,"38,27120469",5,4,0,0
2,3,54,"0,290846409",1,0,1,1,0,1,1,...,0,1,0,1,0,"46,77239881",2,2,0,0
3,4,20,"-0,507601545",1,1,0,1,1,0,0,...,0,0,0,1,0,"31,66539161",5,5,1,2
4,5,12,"-0,695471652",1,1,0,1,1,0,0,...,0,0,0,1,0,"25,31939178",3,5,0,0
5,6,29,"-0,296247675",0,0,0,0,0,0,1,...,0,1,0,1,0,"50,87669151",2,1,0,0
6,7,21,"-0,484117781",1,1,0,1,1,0,1,...,0,0,0,1,1,"34,27604718",5,5,0,0
7,8,10,"-0,742439178",0,0,0,1,1,0,0,...,0,0,0,1,1,"38,94502717",4,5,0,0
8,9,3,"-0,906825522",0,0,0,1,1,0,1,...,0,0,0,1,1,"20,46355334",5,5,0,0
9,10,78,"0,854456729",1,1,0,1,1,0,0,...,0,0,0,1,1,"22,85047959",5,5,1,2

In [548]:
df.drop(['Prod_Desig', 'Prod_Technical', 'Prod_Price', 'Serv_Delivery', 'ZNumber_Words_Review'], axis=1, inplace=True)

In [549]:
# Transform from decimals to float, converting , to .
df['Age'] = df['Age'].str.replace(',', '.').astype(float)
#df['ZNumber_Words_Review'] = df['ZNumber_Words_Review'].str.replace(',', '.').astype(float)

In [550]:
# create a new column with AGE in ranges from 18-35, 36-65
df['Age_Range'] = pd.cut(df['Age'], bins=[18, 35, 65], labels=['18-35', '36-65'])
df.head()

,Review_ID,Number_Words_Review,Prod_Design_positive,Prod_Design_negative,Prod_Technical_positive,Prod_Technical_negative,Prod_Price_positive,Prod_Price_negative,Serv_Delivery_positive,Serv_Delivery_negative,Category,Country,Gender,Age,Sentiment,Rating_Score,Purchase,Number_of_Purchases,Age_Range
0,1,34,1,0,1,0,0,0,0,0,0,1,0,24.563275,4,5,1,1,18-35
1,2,32,1,0,1,0,1,0,0,0,0,1,0,38.271205,5,4,0,0,36-65
2,3,54,0,1,0,1,0,1,0,1,0,1,0,46.772399,2,2,0,0,36-65
3,4,20,1,0,1,0,0,0,0,0,0,1,0,31.665392,5,5,1,2,18-35
4,5,12,1,0,1,0,0,0,0,0,0,1,0,25.319392,3,5,0,0,18-35

In [551]:
# transform AGE_RANGE to dummies
df = pd.get_dummies(df, columns=['Age_Range'], drop_first=True)
df.head()

,Review_ID,Number_Words_Review,Prod_Design_positive,Prod_Design_negative,Prod_Technical_positive,Prod_Technical_negative,Prod_Price_positive,Prod_Price_negative,Serv_Delivery_positive,Serv_Delivery_negative,Category,Country,Gender,Age,Sentiment,Rating_Score,Purchase,Number_of_Purchases,Age_Range_36-65
0,1,34,1,0,1,0,0,0,0,0,0,1,0,24.563275,4,5,1,1,0
1,2,32,1,0,1,0,1,0,0,0,0,1,0,38.271205,5,4,0,0,1
2,3,54,0,1,0,1,0,1,0,1,0,1,0,46.772399,2,2,0,0,1
3,4,20,1,0,1,0,0,0,0,0,0,1,0,31.665392,5,5,1,2,0
4,5,12,1,0,1,0,0,0,0,0,0,1,0,25.319392,3,5,0,0,0

In [552]:
df.drop(["Age"], axis=1, inplace=True)
df.head()

,Review_ID,Number_Words_Review,Prod_Design_positive,Prod_Design_negative,Prod_Technical_positive,Prod_Technical_negative,Prod_Price_positive,Prod_Price_negative,Serv_Delivery_positive,Serv_Delivery_negative,Category,Country,Gender,Sentiment,Rating_Score,Purchase,Number_of_Purchases,Age_Range_36-65
0,1,34,1,0,1,0,0,0,0,0,0,1,0,4,5,1,1,0
1,2,32,1,0,1,0,1,0,0,0,0,1,0,5,4,0,0,1
2,3,54,0,1,0,1,0,1,0,1,0,1,0,2,2,0,0,1
3,4,20,1,0,1,0,0,0,0,0,0,1,0,5,5,1,2,0
4,5,12,1,0,1,0,0,0,0,0,0,1,0,3,5,0,0,0

In [553]:
df['Utilitarian'] = np.where((df['Category'] == 2) | (df['Category'] == 0), 1, 0)
df['Hedonic'] = np.where((df['Category'] == 2) | (df['Category'] == 1), 1, 0)
df.head()

,Review_ID,Number_Words_Review,Prod_Design_positive,Prod_Design_negative,Prod_Technical_positive,Prod_Technical_negative,Prod_Price_positive,Prod_Price_negative,Serv_Delivery_positive,Serv_Delivery_negative,Category,Country,Gender,Sentiment,Rating_Score,Purchase,Number_of_Purchases,Age_Range_36-65,Utilitarian,Hedonic
0,1,34,1,0,1,0,0,0,0,0,0,1,0,4,5,1,1,0,1,0
1,2,32,1,0,1,0,1,0,0,0,0,1,0,5,4,0,0,1,1,0
2,3,54,0,1,0,1,0,1,0,1,0,1,0,2,2,0,0,1,1,0
3,4,20,1,0,1,0,0,0,0,0,0,1,0,5,5,1,2,0,1,0
4,5,12,1,0,1,0,0,0,0,0,0,1,0,3,5,0,0,0,1,0

In [554]:
df.drop(["Category"], axis=1, inplace=True)
df.head()

,Review_ID,Number_Words_Review,Prod_Design_positive,Prod_Design_negative,Prod_Technical_positive,Prod_Technical_negative,Prod_Price_positive,Prod_Price_negative,Serv_Delivery_positive,Serv_Delivery_negative,Country,Gender,Sentiment,Rating_Score,Purchase,Number_of_Purchases,Age_Range_36-65,Utilitarian,Hedonic
0,1,34,1,0,1,0,0,0,0,0,1,0,4,5,1,1,0,1,0
1,2,32,1,0,1,0,1,0,0,0,1,0,5,4,0,0,1,1,0
2,3,54,0,1,0,1,0,1,0,1,1,0,2,2,0,0,1,1,0
3,4,20,1,0,1,0,0,0,0,0,1,0,5,5,1,2,0,1,0
4,5,12,1,0,1,0,0,0,0,0,1,0,3,5,0,0,0,1,0

In [555]:
columns1 = df.columns.tolist()
print(columns1)

['Review_ID', 'Number_Words_Review', 'Prod_Design_positive', 'Prod_Design_negative', 'Prod_Technical_positive', 'Prod_Technical_negative', 'Prod_Price_positive', 'Prod_Price_negative', 'Serv_Delivery_positive', 'Serv_Delivery_negative', 'Country', 'Gender', 'Sentiment', 'Rating_Score', 'Purchase', 'Number_of_Purchases', 'Age_Range_36-65', 'Utilitarian', 'Hedonic']

In [556]:
columns1 = df.columns.tolist()
columns1.remove('Rating_Score')
columns1.remove('Review_ID')
X1 = df[columns1]
print(X1)

     Number_Words_Review  Prod_Design_positive  Prod_Design_negative  \
0                     34                     1                     0
1                     32                     1                     0
2                     54                     0                     1
3                     20                     1                     0
4                     12                     1                     0
..                   ...                   ...                   ...
595                   38                     1                     1
596                   65                     1                     1
597                   79                     1                     1
598                   14                     1                     0
599                   93                     1                     1

     Prod_Technical_positive  Prod_Technical_negative  Prod_Price_positive  \
0                          1                        0                    0
1                          1                        0                    1
2                          0                        1                    0
3                          1                        0                    0
4                          1                        0                    0
..                       ...                      ...                  ...
595                        1                        0                    0
596                        0                        0                    0
597                        1                        0                    0
598                        1                        0                    0
599                        1                        1                    0

     Prod_Price_negative  Serv_Delivery_positive  Serv_Delivery_negative  \
0                      0                       0                       0
1                      0                       0                       0
2                      1                       0                       1
3                      0                       0                       0
4                      0                       0                       0
..                   ...                     ...                     ...
595                    1                       0                       0
596                    1                       0                       0
597                    0                       0                       0
598                    0                       0                       0
599                    0                       0                       0

     Country  Gender  Sentiment  Purchase  Number_of_Purchases  \
0          1       0          4         1                    1
1          1       0          5         0                    0
2          1       0          2         0                    0
3          1       0          5         1                    2
4          1       0          3         0                    0
..       ...     ...        ...       ...                  ...
595        0       0          5         1                    1
596        0       1          3         0                    0
597        0       1          3         0                    0
598        0       1          5         0                    0
599        0       1          3         0                    0

     Age_Range_36-65  Utilitarian  Hedonic
0                  0            1        0
1                  1            1        0
2                  1            1        0
3                  0            1        0
4                  0            1        0
..               ...          ...      ...
595                1            1        1
596                1            1        1
597                1            1        1
598                0            1        1
599                1            1        1

[600 rows x 17 columns]

Y1 = df['Rating_Score']
print(Y1)

In [557]:
Y1 = df['Rating_Score']
print(Y1)

0      5
1      4
2      2
3      5
4      5
      ..
595    5
596    5
597    4
598    4
599    5
Name: Rating_Score, Length: 600, dtype: int64

In [558]:
X1 = sm.add_constant(X1)
model = sm.OLS(Y1, X1).fit()
predictions = model.predict(X1)
print_model = model.summary()
print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:           Rating_Score   R-squared:                       0.685
Model:                            OLS   Adj. R-squared:                  0.676
Method:                 Least Squares   F-statistic:                     74.42
Date:                Wed, 20 Mar 2024   Prob (F-statistic):          1.56e-133
Time:                        18:11:18   Log-Likelihood:                -633.23
No. Observations:                 600   AIC:                             1302.
Df Residuals:                     582   BIC:                             1382.
Df Model:                          17
Covariance Type:            nonrobust
===========================================================================================
                              coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------
const                       1.6829      0.176      9.586      0.000       1.338       2.028
Number_Words_Review        -0.0004      0.001     -0.545      0.586      -0.002       0.001
Prod_Design_positive        0.1792      0.066      2.714      0.007       0.050       0.309
Prod_Design_negative       -0.0395      0.071     -0.556      0.578      -0.179       0.100
Prod_Technical_positive     0.7524      0.078      9.604      0.000       0.599       0.906
Prod_Technical_negative    -0.4577      0.082     -5.567      0.000      -0.619      -0.296
Prod_Price_positive         0.0135      0.076      0.177      0.859      -0.136       0.163
Prod_Price_negative        -0.0518      0.140     -0.369      0.712      -0.327       0.224
Serv_Delivery_positive      0.0468      0.153      0.305      0.760      -0.254       0.348
Serv_Delivery_negative     -0.4880      0.216     -2.263      0.024      -0.911      -0.065
Country                    -0.1185      0.065     -1.832      0.067      -0.246       0.009
Gender                     -0.0191      0.059     -0.323      0.747      -0.135       0.097
Sentiment                   0.5014      0.035     14.386      0.000       0.433       0.570
Purchase                    0.1339      0.113      1.187      0.236      -0.088       0.355
Number_of_Purchases        -0.0213      0.051     -0.418      0.676      -0.121       0.079
Age_Range_36-65            -0.0158      0.061     -0.260      0.795      -0.135       0.104
Utilitarian                 0.1952      0.077      2.524      0.012       0.043       0.347
Hedonic                     0.1987      0.075      2.632      0.009       0.050       0.347
==============================================================================
Omnibus:                        8.924   Durbin-Watson:                   1.872
Prob(Omnibus):                  0.012   Jarque-Bera (JB):               10.166
Skew:                          -0.205   Prob(JB):                      0.00620
Kurtosis:                       3.489   Cond. No.                         467.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [559]:
columns2 = df.columns.tolist()
columns2.remove('Purchase')
columns2.remove('Review_ID')
X2 = df[columns2]
print(X2)

     Number_Words_Review  Prod_Design_positive  Prod_Design_negative  \
0                     34                     1                     0
1                     32                     1                     0
2                     54                     0                     1
3                     20                     1                     0
4                     12                     1                     0
..                   ...                   ...                   ...
595                   38                     1                     1
596                   65                     1                     1
597                   79                     1                     1
598                   14                     1                     0
599                   93                     1                     1

     Prod_Technical_positive  Prod_Technical_negative  Prod_Price_positive  \
0                          1                        0                    0
1                          1                        0                    1
2                          0                        1                    0
3                          1                        0                    0
4                          1                        0                    0
..                       ...                      ...                  ...
595                        1                        0                    0
596                        0                        0                    0
597                        1                        0                    0
598                        1                        0                    0
599                        1                        1                    0

     Prod_Price_negative  Serv_Delivery_positive  Serv_Delivery_negative  \
0                      0                       0                       0
1                      0                       0                       0
2                      1                       0                       1
3                      0                       0                       0
4                      0                       0                       0
..                   ...                     ...                     ...
595                    1                       0                       0
596                    1                       0                       0
597                    0                       0                       0
598                    0                       0                       0
599                    0                       0                       0

     Country  Gender  Sentiment  Rating_Score  Number_of_Purchases  \
0          1       0          4             5                    1
1          1       0          5             4                    0
2          1       0          2             2                    0
3          1       0          5             5                    2
4          1       0          3             5                    0
..       ...     ...        ...           ...                  ...
595        0       0          5             5                    1
596        0       1          3             5                    0
597        0       1          3             4                    0
598        0       1          5             4                    0
599        0       1          3             5                    0

     Age_Range_36-65  Utilitarian  Hedonic
0                  0            1        0
1                  1            1        0
2                  1            1        0
3                  0            1        0
4                  0            1        0
..               ...          ...      ...
595                1            1        1
596                1            1        1
597                1            1        1
598                0            1        1
599                1            1        1

[600 rows x 17 columns]

In [560]:
Y2 = df['Purchase']
print(Y2)

0      1
1      0
2      0
3      1
4      0
      ..
595    1
596    0
597    0
598    0
599    0
Name: Purchase, Length: 600, dtype: int64

In [561]:
X2 = sm.add_constant(X2)
logit_mod = sm.Logit(Y2, X2) # If the dependent variable is considered to be a truly qualitative and binomial character then LOGIT modelling should be preferred
logit_res = logit_mod.fit()
print(logit_res.summary())

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.569741
         Iterations: 35
                           Logit Regression Results
==============================================================================
Dep. Variable:               Purchase   No. Observations:                  600
Model:                          Logit   Df Residuals:                      582
Method:                           MLE   Df Model:                           17
Date:                Wed, 20 Mar 2024   Pseudo R-squ.:                 -0.8368
Time:                        18:11:19   Log-Likelihood:                -341.84
converged:                      False   LL-Null:                       -186.11
Covariance Type:            nonrobust   LLR p-value:                     1.000
===========================================================================================
                              coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------
const                     -12.4571      2.347     -5.307      0.000     -17.058      -7.856
Number_Words_Review         0.0060      0.005      1.255      0.209      -0.003       0.015
Prod_Design_positive        1.0683      0.405      2.635      0.008       0.274       1.863
Prod_Design_negative       -0.4830      0.543     -0.889      0.374      -1.547       0.581
Prod_Technical_positive    -0.3856      0.535     -0.721      0.471      -1.434       0.663
Prod_Technical_negative     1.2567      0.532      2.360      0.018       0.213       2.300
Prod_Price_positive         0.7553      0.410      1.843      0.065      -0.048       1.558
Prod_Price_negative         1.7412      1.020      1.706      0.088      -0.259       3.741
Serv_Delivery_positive     -0.8470      0.894     -0.947      0.344      -2.600       0.906
Serv_Delivery_negative     26.1594   1008.757      0.026      0.979   -1950.968    2003.287
Country                     1.3936      0.399      3.491      0.000       0.611       2.176
Gender                      0.4514      0.361      1.252      0.211      -0.255       1.158
Sentiment                   0.6074      0.291      2.085      0.037       0.036       1.178
Rating_Score                1.1698      0.472      2.478      0.013       0.245       2.095
Number_of_Purchases         2.0177      0.281      7.175      0.000       1.467       2.569
Age_Range_36-65            -0.0244      0.365     -0.067      0.947      -0.741       0.692
Utilitarian                -0.6942      0.524     -1.324      0.186      -1.722       0.334
Hedonic                    -1.3697      0.494     -2.771      0.006      -2.339      -0.401
===========================================================================================

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/statsmodels/base/model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

In [562]:
columns3 = df.columns.tolist()
columns3.remove('Number_of_Purchases')
X3 = df[columns3]
print(X3)

     Review_ID  Number_Words_Review  Prod_Design_positive  \
0            1                   34                     1
1            2                   32                     1
2            3                   54                     0
3            4                   20                     1
4            5                   12                     1
..         ...                  ...                   ...
595        596                   38                     1
596        597                   65                     1
597        598                   79                     1
598        599                   14                     1
599        600                   93                     1

     Prod_Design_negative  Prod_Technical_positive  Prod_Technical_negative  \
0                       0                        1                        0
1                       0                        1                        0
2                       1                        0                        1
3                       0                        1                        0
4                       0                        1                        0
..                    ...                      ...                      ...
595                     1                        1                        0
596                     1                        0                        0
597                     1                        1                        0
598                     0                        1                        0
599                     1                        1                        1

     Prod_Price_positive  Prod_Price_negative  Serv_Delivery_positive  \
0                      0                    0                       0
1                      1                    0                       0
2                      0                    1                       0
3                      0                    0                       0
4                      0                    0                       0
..                   ...                  ...                     ...
595                    0                    1                       0
596                    0                    1                       0
597                    0                    0                       0
598                    0                    0                       0
599                    0                    0                       0

     Serv_Delivery_negative  Country  Gender  Sentiment  Rating_Score  \
0                         0        1       0          4             5
1                         0        1       0          5             4
2                         1        1       0          2             2
3                         0        1       0          5             5
4                         0        1       0          3             5
..                      ...      ...     ...        ...           ...
595                       0        0       0          5             5
596                       0        0       1          3             5
597                       0        0       1          3             4
598                       0        0       1          5             4
599                       0        0       1          3             5

     Purchase  Age_Range_36-65  Utilitarian  Hedonic
0           1                0            1        0
1           0                1            1        0
2           0                1            1        0
3           1                0            1        0
4           0                0            1        0
..        ...              ...          ...      ...
595         1                1            1        1
596         0                1            1        1
597         0                1            1        1
598         0                0            1        1
599         0                1            1        1

[600 rows x 18 columns]

In [563]:
Y3 = df['Number_of_Purchases']
print(Y3)

0      1
1      0
2      0
3      2
4      0
      ..
595    1
596    0
597    0
598    0
599    0
Name: Number_of_Purchases, Length: 600, dtype: int64

In [564]:
fam = Poisson()
ind = Independence()
model = sm.GEE(Y3, X3, groups=df['Review_ID'], cov_struct=ind, family=fam)
result = model.fit()
print(result.summary())

                               GEE Regression Results
===================================================================================
Dep. Variable:         Number_of_Purchases   No. Observations:                  600
Model:                                 GEE   No. clusters:                      600
Method:                        Generalized   Min. cluster size:                   1
                      Estimating Equations   Max. cluster size:                   1
Family:                            Poisson   Mean cluster size:                 1.0
Dependence structure:         Independence   Num. iterations:                     1
Date:                     Wed, 20 Mar 2024   Scale:                           1.000
Covariance type:                    robust   Time:                         18:11:19
===========================================================================================
                              coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------
Review_ID                   0.0006      0.000      1.569      0.117      -0.000       0.001
Number_Words_Review        -0.0014      0.002     -0.882      0.378      -0.004       0.002
Prod_Design_positive       -0.2205      0.124     -1.779      0.075      -0.464       0.022
Prod_Design_negative       -0.3373      0.148     -2.284      0.022      -0.627      -0.048
Prod_Technical_positive     0.1390      0.176      0.788      0.431      -0.207       0.484
Prod_Technical_negative    -0.4124      0.172     -2.401      0.016      -0.749      -0.076
Prod_Price_positive        -0.2448      0.137     -1.787      0.074      -0.513       0.024
Prod_Price_negative        -0.0219      0.277     -0.079      0.937      -0.565       0.521
Serv_Delivery_positive      0.3449      0.250      1.380      0.168      -0.145       0.835
Serv_Delivery_negative     -0.8289      0.636     -1.304      0.192      -2.075       0.417
Country                    -0.1284      0.145     -0.884      0.377      -0.413       0.156
Gender                     -0.1555      0.115     -1.347      0.178      -0.382       0.071
Sentiment                   0.0741      0.085      0.874      0.382      -0.092       0.240
Rating_Score               -0.1770      0.077     -2.293      0.022      -0.328      -0.026
Purchase                    1.2492      0.125      9.960      0.000       1.003       1.495
Age_Range_36-65            -0.2323      0.113     -2.047      0.041      -0.455      -0.010
Utilitarian                -0.1762      0.146     -1.205      0.228      -0.463       0.110
Hedonic                    -0.1410      0.151     -0.935      0.350      -0.437       0.155
==============================================================================
Skew:                          1.4574   Kurtosis:                       1.8889
Centered skew:                    nan   Centered kurtosis:                 nan
==============================================================================

In [565]:
# Create the interaction term
df['Product_Design_Sentiment_Interact'] = df['Prod_Design_positive'] * df['Sentiment']

# Define the independent variables including the interaction term
X = df[['Prod_Design_positive', 'Sentiment', 'Product_Design_Sentiment_Interact']]

# Add a constant term for the intercept
X = sm.add_constant(X)

# Define the dependent variable
Y = df['Rating_Score']

# Fit the linear regression model
model = sm.OLS(Y, X).fit()

# Print the summary of the model
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           Rating_Score   R-squared:                       0.636
Model:                            OLS   Adj. R-squared:                  0.634
Method:                 Least Squares   F-statistic:                     347.6
Date:                Wed, 20 Mar 2024   Prob (F-statistic):          1.95e-130
Time:                        18:11:19   Log-Likelihood:                -676.27
No. Observations:                 600   AIC:                             1361.
Df Residuals:                     596   BIC:                             1378.
Df Model:                           3
Covariance Type:            nonrobust
=====================================================================================================
                                        coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------
const                                 0.9533      0.109      8.706      0.000       0.738       1.168
Prod_Design_positive                  2.0256      0.235      8.628      0.000       1.565       2.487
Sentiment                             0.8610      0.031     28.025      0.000       0.801       0.921
Product_Design_Sentiment_Interact    -0.4616      0.058     -7.961      0.000      -0.575      -0.348
==============================================================================
Omnibus:                       42.508   Durbin-Watson:                   1.842
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               62.610
Skew:                          -0.539   Prob(JB):                     2.54e-14
Kurtosis:                       4.158   Cond. No.                         38.3
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [566]:
# Create the interaction term
df['Country_Age_Interact'] = df['Country'] * df['Age_Range_36-65']

# Define the independent variables including the interaction term
X = df[['Country', 'Age_Range_36-65', 'Country_Age_Interact']]

# Add a constant term for the intercept
X = sm.add_constant(X)

# Define the dependent variable
Y = df['Rating_Score']

# Fit the linear regression model
model = sm.OLS(Y, X).fit()

# Print the summary of the model
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           Rating_Score   R-squared:                       0.048
Model:                            OLS   Adj. R-squared:                  0.044
Method:                 Least Squares   F-statistic:                     10.12
Date:                Wed, 20 Mar 2024   Prob (F-statistic):           1.64e-06
Time:                        18:11:19   Log-Likelihood:                -964.80
No. Observations:                 600   AIC:                             1938.
Df Residuals:                     596   BIC:                             1955.
Df Model:                           3
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
const                    4.4902      0.120     37.411      0.000       4.254       4.726
Country                 -0.5076      0.165     -3.079      0.002      -0.831      -0.184
Age_Range_36-65         -0.0458      0.148     -0.310      0.757      -0.336       0.244
Country_Age_Interact    -0.0558      0.206     -0.270      0.787      -0.461       0.349
==============================================================================
Omnibus:                      118.805   Durbin-Watson:                   1.722
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              189.562
Skew:                          -1.314   Prob(JB):                     6.87e-42
Kurtosis:                       3.824   Cond. No.                         8.14
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.